<div class="field">
  <%= form.label :name, t("activerecord.attributes.post_category.name") %>:<br/>
  <%= form.text_field :name, :class => 'text' %>
</div>
<div class="field">
  <%= form.label :permalink, t("activerecord.attributes.post_category.permalink") %>:<br/>
  <%= form.text_field :permalink, :class => 'text fullwidth' %>
</div>
