<div class="field">
  <%= form.label :attachment %>:<br/>
  <%= form.file_field :attachment %>
</div>
<div class="field">
  <%= form.label t(:alt_text) %>:<br/>
  <%= form.text_area :alt, :rows => 4, :class => 'fullwidth' %>
</div>
