<div data-hook="admin_image_form_fields" class="row">
  <div class="col-sm-12">
    <div data-hook="file" class="form-group"">
      <%= form.label :attachment %>
      <%= form.file_field :attachment %>
    </div>
  </div>
  <div class="col-sm-12">
    <div class="field">
      <%= form.label Spree.t(:alt_text) %>
      <%= form.text_area :alt, rows: 4, class: 'form-control' %>
    </div>
  </div>
</div>