<div data-hook="post-categories">
  <%= render :partial => 'spree/shared/blogs/preview', :collection => @posts, :as => :post %>
  <%= paginate @posts %>
</div>

<% content_for :sidebar do %>
  <%= render :partial => 'spree/shared/blogs/sidebar' %>
<% end %>
