<div data-hook="admin_image_form_fields">
  <div data-hook="file"  class="field four columns alpha">
    <%= form.label :attachment %><br/>
    <%= form.file_field :attachment %>
  </div>
  <div data-hook="alt_text" class="field omega five columns">
    <%= form.label :alt, Spree.t(:description) %><br/>
    <%= form.text_area :alt, :rows => 4, :class => 'fullwidth' %>
  </div>
</div>

<div class="clear"></div>