<div class="post-archive">
  <h3><%= Spree.t('essential_content.recent_posts') %></h3>
  <ul>
  <% posts.group_by(&:year).each do |year, posts_by_year| %>
    <li>
    <%= link_to "#{year} (#{posts_by_year.count})", post_date_path(@blog, year) %>
      <ul>
        <% posts_by_year.group_by(&:month).each do |month, posts_by_month| %>
          <li>
            <%= link_to "#{Date::MONTHNAMES[month]} (#{posts_by_month.count})", post_date_path(@blog, year, month) %>
          </li>
        <% end %>
      </ul>
    </li>
  <% end %>
  </ul>
</div>
