<div class="field">
  <%= form.label :attachment %>:<br/>
  <%= form.file_field :attachment %>
</div>
<div class="field">
  <%= form.label :alt %>:<br/>
  <%= form.text_field :alt, :class => 'fullwidth' %>
</div>
