<div class="field">
  <%= form.label :attachment %>
  <%= form.file_field :attachment %>
</div>
<div class="field">
  <%= form.label :alt %>
  <%= form.text_field :alt, :class => 'fullwidth' %>
</div>
